<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
    <div class="form-container">
        <h1>고양이 정보 추가</h1>
        <form th:action="@{/cats/add}" th:object="${catAddDTO}" method="post" enctype="multipart/form-data">
            <div th:replace="fragments/cat_form :: catFormFragment"></div>
            <center>
                <button type="submit" class="btn btn-fatcat">등록하기</button>
            </center>
        </form>
    </div>
</div>

<script>
    function previewImage(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('current-image-preview').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }
</script>
</body>

</html>