<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/layout}">
<head>
<meta charset="UTF-8">
<title>고양이 정보</title>
</head>
<body>

<!-- src/main/resources/templates/fragments/cat_form.html -->
<div th:fragment="catFormFragment">

  <!-- 이름 -->
  <input type="text" th:field="*{catName}" 
         class="login-input" placeholder="고양이 이름" required>

  <!-- 생일 -->
  <input type="date" th:field="*{catBirthday}" 
         class="login-input" placeholder="생일">

  <!-- 성별 -->
  <div class="login-input" style="display:flex; flex-direction:column; gap:10px;">
  <span style=" font-size:18px;">성별</span>
  <div style="display:flex; justify-content:center; gap:30px;">
    <label><input type="radio" th:field="*{catGender}" th:value="MALE"> 남아</label>
  <label><input type="radio" th:field="*{catGender}" th:value="FEMALE"> 여아</label>
  </div>
</div>

<!-- 중성화 여부 -->
<div class="login-input" style="display:flex; flex-direction:column; gap:10px;">
  <span style=" font-size:18px;">중성화 여부</span>
  <div style="display:flex; justify-content:center; gap:30px;">
    <label><input type="radio" th:field="*{isNeutered}" th:value="true"> 예</label>
    <label><input type="radio" th:field="*{isNeutered}" th:value="false"> 아니오</label>
  </div>
</div>



  <!-- 품종 -->
<div>
  <select th:field="*{catBreed}" id="catBreedSelect" 
          class="login-input" onchange="toggleCustomBreed(this)">
    <option value="">고양이 종 선택</option>
    <option th:each="breed : ${breeds}" th:value="${breed}" th:text="${breed}"></option>
    <option value="기타">기타</option>
  </select>

  <!-- 기타 입력창 (처음엔 숨김) -->
  <input type="text" id="customBreedInput" th:field="*{customBreed}"
         class="login-input" 
         placeholder="품종을 입력하세요"
         style="display:none; margin-top:10px;">
</div>

  <!-- 프로필 이미지 -->
  <div class="file-input-row">
    <label for="profileImage">고양이 이미지</label>
    <div class="file-input-wrapper">
      <label for="profileImage" class="custom-file-label">파일 선택</label>
      <span id="fileName" class="file-name">선택된 파일 없음</span>
      <div id="profileThumb" class="profile-thumb"></div>
      <input type="file" id="profileImage" name="catImageFile" 
             accept="image/*" onchange="previewInline(this)">
    </div>
  </div>

  <!-- 질병 -->
  <input type="text" th:field="*{hasDisease}" 
         class="login-input" placeholder="질병 (선택)">

  <!-- 알러지 -->
  <input type="text" th:field="*{hasAllergy}" 
         class="login-input" placeholder="알러지 (선택)">

</div>
</body>
</html>