<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>토스페이먼츠 결제</title>
</head>
<body>
    <div class="wrapper">
        <h2>결제하기</h2>
        <div id="payment-method"></div>
        <div id="agreement"></div>
        <div class="btn-wrapper">
            <button id="payment-request-button" class="btn">결제하기</button>
        </div>
    </div>
    
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    
    <script>
        // DOMContentLoaded 이벤트 리스너를 추가하여 문서가 완전히 로드된 후에 실행되도록 합니다.
        window.addEventListener('DOMContentLoaded', function() {
            const clientKey = 'test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm';
            const orderId = '[[${orderForm.orderNumber}]]';
            const amount = '[[${cartSummary.finalPrice}]]';
            const customerName = '[[${orderForm.receiverName}]]';
            const cartSeq = '[[${orderForm.cartSeq}]]';

            const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS);
            
            paymentWidget.renderPaymentMethods('#payment-method', { value: amount });
            paymentWidget.renderAgreement('#agreement');

            document.getElementById('payment-request-button').addEventListener('click', () => {
                paymentWidget.requestPayment({
                    orderId: orderId,
                    orderName: "상품 결제",
                    customerName: customerName,
                    successUrl: "http://localhost:8080/orders/success?cartSeq=${cartSeq}",
                    failUrl: "http://localhost:8080/orders/fail"
                });
            });
        });
    </script>
</body>
</html>