<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/layout}">


<body>
	<div layout:fragment="content">
	
	
	
	
	  <h1>답변하기</h1>
    <div>
        <p><b>질문:</b> <span th:text="${faq.question}"></span></p>
    </div>
    <form th:action="@{|/faq/answer/${faq.faqSeq}|}" method="post">
        <textarea name="answer" rows="10" cols="50" th:text="${faq.answer}" required></textarea>
        <button type="submit">답변 등록</button>
    </form>
	
	
	
	
	
	
	</div>
	</body>
	</html>