<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.css}">
<title>게시판</title>
</head>
<body>

	<!-- 공통 네비바 -->
	<nav th:replace="~{shared/navbar :: navbarFragment}"></nav>

	<!-- 페이지 개별 컨텐츠 -->
	<th:block layout:fragment="content"></th:block>

	<!-- Bootstrap JS (bundle만 사용) -->
	<script th:src="@{/bootstrap.bundle.min.js}"></script>

	<!-- 페이지 개별 스크립트 -->
	<th:block layout:fragment="script"></th:block>
</body>
<footer class="text-center py-3">
    <div class="container">
        <label style="font-size:18px;">&copy; 2025 고지방. All rights reserved.</label>
    </div>
</footer>
</html>
