<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/layout}">
<head>
<title>메인 페이지</title>
</head>
<body>


	<div layout:fragment="content"
		class="container my-3 d-flex align-items-center justify-content-center"
		style="min-height: calc(85vh - 50px);">

		<!-- Swiper CSS -->
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

		<!-- Swiper Container -->
		<div class="swiper mySwiper" style="width: 100%; max-width: 1200px;">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">
		      <img th:src="@{/images/banner1.jpeg}" 
		           alt="배너1"  >
		    </div>
		    <div class="swiper-slide">
		     <img th:src="@{/images/banner2.jpeg}" 
		           alt="배너2"  >
		    </div>
		    <div class="swiper-slide">
		      <img th:src="@{/images/banner3.jpeg}" 
		           alt="배너3"  >
		    </div>
		     <div class="swiper-slide">
		      <img th:src="@{/images/banner1.jpeg}" 
		           alt="배너1"  >
		    </div>
		     <div class="swiper-slide">
		     <img th:src="@{/images/banner2.jpeg}" 
		           alt="배너2"  >
		    </div>
		    <!-- 필요하면 더 추가 -->
		  </div>
		
		  <!-- 네비게이션 -->
		  <div class="swiper-button-next"></div>
		  <div class="swiper-button-prev"></div>
		  <div class="swiper-pagination"></div>
		</div>




	</div>

	<div layout:fragment="script">
		<!-- Swiper JS -->
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script>
		  var swiper = new Swiper(".mySwiper", {
		    slidesPerView: 3,      // 한 화면에 3개 정확히
		    spaceBetween: 30,      // 슬라이드 간격 주기
		    loop: true,
		    autoplay: { delay: 3000 },
		    pagination: {
		      el: ".swiper-pagination",
		      clickable: true,
		    },
		    navigation: {
		      nextEl: ".swiper-button-next",
		      prevEl: ".swiper-button-prev",
		    },
		    breakpoints: {
		      992: { slidesPerView: 3 }, // PC
		      768: { slidesPerView: 2 }, // 태블릿
		      480: { slidesPerView: 1 }  // 모바일
		    }
		  });
		</script>
	</div>
</body>
</html>
